@import "../../../styleguide.scss";
.card {
 position: relative;

 display: inline-block;

 padding: 0.2vw;
}

.image {
  height: 100%;
  width: 100%;

}

.image:nth-of-type(2n - 1){
  background: $color-green;
  
}

.card {
  overflow: initial;
  width: pxToVw(565,1920);
  height: pxToVw(706,1920);
}

.info{
  display: flex;
  justify-content: space-between;
  width: 98%;
  position: absolute;
  bottom: -1vw;
  z-index: 99;

  small{
    font-size: 0.7vw;
  }
}