@import "../../../../styleguide.scss";

.form {
  float: right;
  padding-top: 5vw;
  z-index: 99;
}
.formWrapper {
  display: flex;
  flex-direction: column;
  width: pxToVw(731, 1920);

  label {
    font-size: pxToVw(20, 1920);
    font-weight: 500;
  }

  input {
    height: pxToVw(67, 1920);
    background-color: #9f9f9f;
    border: none;
    outline: none;
    border-radius: pxToVw(10, 1920);
    padding-inline: 2vw;

    z-index: 999;
  }

  textarea {
    background-color: #9f9f9f;
    border: none;
    outline: none;
    border-radius: pxToVw(10, 1920);
    padding: 2vw;
    height: pxToVw(264, 1920);

    resize: none;
  }
}

.price {
  width: pxToVw(189, 1920);
}

.send {
  cursor: pointer;
  background-color: #9f9f9f;

  padding: 1vw 3vw;
  border: none;

  margin-top: 2vw;
  border-radius: pxToVw(10, 1920);
}

@media screen and (max-width: 820px) {
  .form {
    float: left;
    margin-top: 15vw;
    margin-bottom: 25vw;
  }
  .formWrapper {
    width: 90vw;

    label {
      font-size: 4vw;
    }

    input {
      height: 10vw;
      border-radius: 5vw;
      padding-inline: 3vw;
    }

    textarea {
      border-radius: 5vw;
      padding: 3vw;
      height: 40vw;
    }
  }
  .price {
    width: 40vw;
  }
  .send {
    padding: 3vw 13vw;
    border: none;

    margin-top: 10vw;
    border-radius: 5vw;
  }
}
